DATA_LAYER_HOST=127.0.0.1
DATA_LAYER_PORT=8182
DATA_LAYER_DB_PATH=./data/data-layer-lmdb
DATA_LAYER_BASE_IRI=http://example.com/context#
DATA_LAYER_RESOURCE_IRI_PREFIX=http://example.com/resource/
RUST_LOG=info
